#nav-tab {
    margin-top:15px;
}

#file_selector {
    margin-top:15px;
}

#card_content{
    height:400px;
}

#nav-home, #nav-profile, #nav-contact {
    height:550px;
    margin-top:10px;
}