#nav-tab {
    margin-top:15px;
}

#file_selector {
    margin-top:15px;
}

#card_content{
    height:400px;
}

#nav-home, #nav-profile, #nav-contact {
    height:550px;
    margin-top:10px;
}

#label_menu_entity {
    display: none;
}

#label_menu_relation {
    display: none;
}

#label_menu_event {
    display: none;
}

#label_menu_entity, #label_menu_relation, #label_menu_event {
    max-width: 110px;
    margin-left: 10px;
    margin-top: 15px;
}

#select_1, #select_2, #select_3 {
    margin-top: 15px;
}